@font-face {
  font-family: 'iconfont';
  /* project id 2110067 */
  src: url('//at.alicdn.com/t/font_2110067_dlx048aeik5.eot');
  src: url('//at.alicdn.com/t/font_2110067_dlx048aeik5.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2110067_dlx048aeik5.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2110067_dlx048aeik5.woff') format('woff'),
    url('//at.alicdn.com/t/font_2110067_dlx048aeik5.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2110067_dlx048aeik5.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icontouxiang:before {
  content: "\e673";
}

.iconfenxiang:before {
  content: "\e63c";
}

.iconsanjiao:before {
  content: "\e60e";
}

.iconbiaoge:before {
  content: "\e637";
}

.iconquanping:before {
  content: "\e600";
}

.iconcode:before {
  content: "\e616";
}

.iconxiazai:before {
  content: "\e60c";
}

.iconguanbi:before {
  content: "\e608";
}

.iconxiazai1:before {
  content: "\e635";
}

.iconbiaogeshezhi:before {
  content: "\e720";
}

.iconsanjiaoxing:before {
  content: "\e609";
}

.iconsousuo:before {
  content: "\e6a6";
}

.iconicon-test:before {
  content: "\e668";
}

.iconxiaoxi:before {
  content: "\e615";
}

.iconduihao:before {
  content: "\e684";
}

.icontuichu:before {
  content: "\e620";
}

.iconrili:before {
  content: "\e72a";
}

.iconxiaoxi1:before {
  content: "\e60a";
}

